<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Video Stream</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Live Video Stream</h1>
    <div class="video-container">
        <img id="video-stream" alt="Stream loading..." />
    </div>
    

    <p>
        <span id="command"></span>
        <span id="noDevices"></span>
    </p>

    <h2>Headlight</h2>
    <button onclick="controlLed('headlight', 'on')">Turn On Headlight</button>
    <button onclick="controlLed('headlight', 'off')">Turn Off Headlight</button>

    <h2>Tactical Red Light</h2>
    <button onclick="controlLed('redlight', 'on')">Turn On Red Light</button>
    <button onclick="controlLed('redlight', 'off')">Turn Off Red Light</button>

    <script src="/js/video_feed.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/lights.js"></script>

</body>
</html>
